@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif, Roboto,'Open Sans', 'Helvetica Neue';
}

/*  NavBar*/
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 9;
    transition: .5s;
}

.links-container{
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item{
    margin: 10px;
}

.link{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    opacity: .7;
    transition: .5s;
}

.link .active, .link:hover{
    opacity: 1;
}

.user-interactions{
    display: flex;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translate(-50%);
}

.cart, .user{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.car-icon, .user-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-count{
    font-family: sans-serif;
    color: #d5be8b;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    background: #190c05;
    position: absolute;
    bottom: -12px;
    left: -12px;
}




/* Header */
.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:  url(../img/header.png);
    background-size: cover;
}

.header-heading{
    font-size: 100px;
    text-transform: capitalize;
    color: #fff;
}

.header-heading span{
    color: #d5be8b;
}



/* Best selling products */

.best-selling-procut-section{
    position: relative;
    padding: 60px 5vw;
}

.section-title{
    text-transform: capitalize;
    font-size: 30px;
    margin-top: 30px;
}


.product-container{
    display: flex;
    justify-content: space-between;
}
.product-card{
    border: 15px solid #d5be8b;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #d5be8b;
}

.product-card:nth-child(even){
    border-color: #190c05;
}

.product-img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}


.product-name{
    position: absolute;
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}
.product-card:hover .product-name{
    opacity: 1;
}

.product-card:hover .product-img{
    opacity: .5;
}